<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#311532">
    <meta name="theme-color" content="#311532">
    <title>Philippine's Leading Laravel Meetup | Laravel Philippines</title>
    <meta property="og:url" content="https://laravelphilippines.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Laravel Philippines - Philippine's Leading Laravel Meetup" />
    <meta property="og:description" content="Laravel Philippines is the biggest Laravel PHP meetup in Philippines. It brings together the best PHP developers in the Philippines." />
    <meta property="og:image" content="https://res.cloudinary.com/pmsantos/image/upload/v1575169230/laravel-ph_zcm43g.jpg" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  </head>
  <body class="bg-dark font-body">
    <noscript>
      <strong>We're sorry but Laravel Philippines doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
