@import url('https://fonts.googleapis.com/css?family=Chivo:400,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
