<template>
  <div id="app">
      <div class="lg:min-h-screen flex flex-wrap">
          <div class="w-full md:w-1/2 flex items-center justify-center">
              <div class="px-8 py-32 lg:px-32">
                  <h1 class="text-5xl lg:text-6xl text-white font-extrabold leading-none">Philippine's Leading <span class="text-primary">Laravel Meetup</span></h1>
                  <div class="text-3xl text-purple-200 leading-none mt-8">2020, Philippines</div>
                  <div class="mt-16">
                      <a href="https://join.slack.com/t/laravelphilippines/shared_invite/enQtODQzNDA3ODY1NDU5LTY2Nzg2OTQ5MjViYWE1YmJiMzFkYmIxZGI0ZDM2YjZlYzM3MDlmYjc0YTUzMzZmNTczNGRhNGM4MzAzZDIzZWY" target="_blank" class="bg-primary text-white px-6 py-5 rounded shadow focus:outline-none">Let's go!</a>
                  </div>
              </div>
          </div>
          <div class="w-full h-64 md:h-auto md:w-1/2 relative overflow-hidden">
              <img class="absolute inset-0 w-full h-full object-cover" src="https://res.cloudinary.com/pmsantos/image/upload/c_scale,q_60,w_2652/v1575156392/hero-bg_qiuvz1.jpg" alt="">
              <svg class="hidden md:block absolute inset-0 w-32 h-full fill-current text-dark -ml-16" viewBox="0,0,100,100" preserveAspectRatio="none">
                  <polygon points="50,0 100,0 50,100 0,100"></polygon>
              </svg>
          </div>
      </div>
      <div class="bg-darkest relative overflow-hidden">
          <h3 class="absolute top-0 left-0 -mt-24 -ml-10 text-ultra text-stroke font-extrabold whitespace-no-wrap opacity-25">Laravel Philippines</h3>
          <h3 class="absolute bottom-0 right-0 -mb-24 -mr-10 text-ultra text-pink-200 font-extrabold whitespace-no-wrap opacity-25">Meetup 2020</h3>
          <div class="relative">
              <div class="max-w-3xl mx-auto px-8 lg:px-16 py-32 ">
                  <div class="text-5xl text-primary font-extrabold leading-none mb-8">Laravel Meetup 2020</div>
                  <p class="text-purple-200 text-xl">Hi there! We're still planning things out. If you have suggestions and other cool ideas, feel free to join our discussions at Slack.</p>
                  <div class="mt-8">
                      <input type="text" class="block w-full px-3 py-4 rounded bg-dark text-purple-200 focus:outline-none" value="https://join.slack.com/t/laravelphilippines/shared_invite/enQtODQzNDA3ODY1NDU5LTY2Nzg2OTQ5MjViYWE1YmJiMzFkYmIxZGI0ZDM2YjZlYzM3MDlmYjc0YTUzMzZmNTczNGRhNGM4MzAzZDIzZWY" readonly="readonly">
                  </div>
              </div>
          </div>
      </div>
      <div class="bg-darker">
          <div class="flex flex-wrap items-center">
              <div class="w-full lg:w-1/2 relative">
                  <img src="https://res.cloudinary.com/pmsantos/image/upload/q_60/v1575163416/banner-1_tcvdxp.jpg" alt="" class="w-full">
                  <svg class="absolute bottom-0 text-darker w-full h-16 fill-current" viewBox="0,0,100,100" preserveAspectRatio="none">
                      <polygon points="0,100 100,100, 0,0"></polygon>
                  </svg>
              </div>
              <div class="w-full lg:w-1/2">
                  <div class="max-w-lg mx-auto px-8 py-16">
                      <div class="text-5xl text-white font-extrabold leading-none mb-8">Celebrate the Laravel Community</div>
                      <div class="text-lg text-purple-200">
                          Laravel PH hosts the largest gathering of Laravel enthusiasts accross the country. Every year, we hope to celebrate and build the Filipino developer community.
                      </div>
                  </div>
              </div>
          </div>
          <div class="flex flex-wrap items-center">
              <div class="w-full lg:w-1/2 order-last lg:order-first">
                  <div class="max-w-lg mx-auto px-8 py-16">
                      <div class="text-5xl text-white font-extrabold leading-none mb-8">Sharpen your skills</div>
                      <div class="text-lg text-purple-200">
                          Laravel PH is a fantastic opportunity to preserve and improve the greatest asset you have – YOU!
                      </div>
                  </div>
              </div>
              <div class="w-full lg:w-1/2 relative">
                  <img src="https://res.cloudinary.com/pmsantos/image/upload/q_60/v1575163420/banner-2_xako4t.jpg" alt="" class="w-full">
                  <svg class="absolute top-0 text-darker w-full h-16 fill-current" viewBox="0,0,100,100" preserveAspectRatio="none">
                      <polygon points="0,0 100,0, 100,100"></polygon>
                  </svg>
              </div>
          </div>
      </div>
      <div class="bg-primary relative overflow-hidden">
          <h3 class="absolute top-0 left-0 -mt-24 -ml-10 text-ultra text-muted font-extrabold whitespace-no-wrap opacity-25">Attention</h3>
          <h3 class="absolute bottom-0 right-0 -mb-24 -mr-10 text-ultra text-muted font-extrabold whitespace-no-wrap opacity-25">Speaaaakers</h3>
          <div class="relative">
              <div class="max-w-lg mx-auto text-center px-8 py-16">
                  <div class="text-6xl text-white font-extrabold leading-none mb-8">Speak it up!</div>
                  <div class="text-lg text-pink-200 mb-8">Have something in mind that you want to share? Let the community hear your voice. Submit your own talk today!</div>
                  <a href="https://forms.gle/h5peLHjfvA48fHrVA" target="_blank" class="inline-block bg-accent text-white px-8 py-5 rounded shadow focus:outline-none">Submit a talk</a>
              </div>
          </div>
      </div>
      <div class="bg-black py-10 text-center">
          <div class="text-gray-600 text-sm">© Laravel PH 2019. All rights reserved.</div>
          <div class="text-gray-600 text-sm">Made with <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 inline-block fill-current"><path d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"></path></svg> by <a href="https://twitter.com/plmrlnsnts" target="_blank" class="font-bold">plmrlnsnts</a></div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style src="./assets/tailwind.css">
